@media (min-width: 1200px) {
    .container {
        width: 1180px;
    }
}

.red {
    color: red;
}
.red2 {
    color: #b00;
}
.blue {
    color: blue;
}
.text-bold {
    font-weight: bold;
}
.staricon {
    &:before {
        content: "\f005";
        font-family: FontAwesome;
        font-size: 14px;
        color: #EF4E0E;
        margin-right: 5px;
        display: inline-block;
    }
}

.block {
    .block-title {
        padding: 30px 0 20px;
        padding-left: 0;
        color: #555;
        margin-bottom: 0;
        border-radius: 5px 5px 0 0;
        text-shadow: 0 -1px 0 #fff;
        font-size: 14px;
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        color: #E67E22;
    }
}

.block-breadcrumb {
    .breadcrumb {
        background-color: transparent;
        padding: 0 10px;
        > li {
            &+li {
                &:before {
                    padding: 0 3px;
                    content: "»";
                    color: #6d6d6d;
                }
            }
            a {
                color: #6d6d6d;
                &:hover {
                    color: #e67817;
                }
            }
            &.active {
                a {
                    color: #236baa;
                    &:hover {
                        color: #e67817;
                    }
                }
            }
        } 
    }
}

.block-name-page {
    color: #ed6f32;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 23px;
}

.block-text {
    .text-desc {
        margin-top: 10px;
        line-height: 1.8;
        font-size: 14px;
        .title-detail {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 23px;
            line-height: 1.1;
            color: #333;
            letter-spacing: -1px;
            font-weight: bold;
        }
        .date {
            font-size: 11px;
            padding: 0;
            margin: 10px 0;
            li {
                display: inline-block;
                margin-right: 15px;
                color: #999;
                font-size: 11px;
            }
        }
        h2 {
            color: #000;
            font-size: 28px;
            margin-bottom: 5px;
        }
        p {
            margin: 0.5em 0;
            text-align: justify;
        }
        img {
            max-width: 100%;
        }
        ul {           
            padding: 5px 0 5px 20px;
            li {
                list-style: inside;
            }
        }
        ol {
            padding-left: 40px;   
            li {
                list-style-type: decimal;
            }
        }
        .bluebold {
            color: blue;
            font-weight: bold;
        }
        .redbold {
            color: red;
            font-weight: bold;
        }
    }
}

.block-page {
    .page-content {
        min-height: 200px;
        margin-bottom: 10px;
        background: #fff;
        padding: 10px;
    }
    .block-page-right {
        width: 68%;
        margin-right: 2%;
        float: left;
    }
    .block-page-left {
        width: 30%;
        float: left;
    }
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.block-page-col {
    .page-col-left {}
    .page-col-right {}
}

@media screen and (min-width: 768px) {
    .block-page-col {
        .page-col-left {
            float: left;
            width: 305px;
            margin-right: 10px;
        }
        .page-col-right {
            float: right;
            @include calc( width, '100% - 315px');
            padding: 0 10px;
        }
    }
}

.table-customize {
    border-collapse: collapse;
    font-size: 12px;
    margin: 5px 0;
    text-align: left;
    width: 100%;
    border: 1px solid #ccc;
    position: relative;
    tr {
        th {
            background: #634117;
            border-right: 1px solid #ccc;
            color: #555;
            font-size: 13px;
            font-weight: bold;
            padding: 6px;
            text-align: center;
            color: #fff;
        }
        td {
            background: none repeat scroll 0 0 #fafafa;
            border-right: 1px solid #ccc;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            padding: 6px;
            vertical-align: middle;
            &.pri {
                color: #b00;
                font-weight: bold;
                text-align: center;
            }
        }
        &:hover {
            td {
                background: #FFC;
            }
        }
    }
}

.youtube {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.block-support {
    display: block;
    overflow: hidden;
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid #e4e4e4;
    .support-info {
        @include flexbox;
        align-items: center;
        .block-phone-sc {
            @include flexbox;
            align-items: center;
            width: 49%;
            .lazy-sp {
                width: 70px;
                height: 70px;
                margin: 0 20px 0 0;
            }
            .phone-sc-item {
                @include flexbox;
                padding: 0;
                align-items: center;
                li {
                    list-style: none;
                    font-size: 16px;
                    font-weight: 600;
                    text-align: left;
                    &:first-child {
                        width: 150px;
                        margin-right: 15px;
                    }
                    a {
                        color: #d0021b;
                    }
                }
            }
        }
        .block-order {
            width: 49%;
            margin-left: auto;
            margin-right: 20px;
            a {
                padding: 10px 10px;
                display: block;
                width: 100%;
                overflow: hidden;
                border-radius: 4px;
                font-size: 16px;
                line-height: normal;
                text-transform: uppercase;
                color: #fff;
                text-align: center;
                background: #fd6e1d;
                background: -webkit-gradient(linear,0% 0%,0% 100%,from(#fd6e1d),to(#f59000));
                background: -webkit-linear-gradient(top,#f59000,#fd6e1d);
                background: -moz-linear-gradient(top,#f59000,#fd6e1d);
                background: -ms-linear-gradient(top,#f59000,#fd6e1d);
                background: -o-linear-gradient(top,#f59000,#fd6e1d);
                span:first-child {
                    display: block;
                    font-weight: bold;
                }
                span:last-child {
                    font-size: 12px;
                    text-transform: none;
                }
            }
        }
    }
}

.block-form {
    .form-group {
        margin-bottom: 10px;
    }
    .form-title {
        font-size: 14px;
        font-weight: bold;
        color: #ed6f32;
        i {
            color: #0099d5;
        }
    }
    .form-control {
        font-size: 13px;
        background: #F8F8F8;
        border: 1px solid #CCC;
        padding: 5px;
        margin-left: 0px;
        margin-right: 0px;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        display: inline-block;
        box-shadow: none;
    }
    input.form-control,
    select.form-control {
        height: 27px;
        line-height: 27px;
    }
    .col {
        width: 31%;
        margin-right: 3%;
        float: left;
        &:last-child {
            margin-right: 0;
        }
        label {
            font-weight: normal;
            font-size: 12px;
            display: block;
            margin-bottom: 3px;
        }
    }
    .btn-submit {
        text-shadow: 0 1px 1px rgba(0,0,0,.3);
        background: #ed6f32;
        color: #fff;
        box-shadow: 0 4px 0 #b04600;
        -moz-box-shadow: 0 4px 0 #b04600;
        -webkit-box-shadow: 0 4px 0 #b04600;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 30px;
        font-size: 17px;
        padding: 2px 24px;
        margin: 10px 0 5px;
        border-radius: 0;
        border: none;
        &:hover {
            background: #FF651A;
        }
    }
}

.block-form2 {
    .btn-submit {
        height: auto;
        font-size: 15px;
        font-weight: normal;
        text-transform: uppercase;
        display: inline-block;
        padding: 5px 25px;
        line-height: 25px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        color: #FFF;
        white-space: nowrap;
        border: 0;
        box-shadow: none;
        margin: 0 10px 0 0;
    }
}

/*===== Back To Top =====*/
.td-scroll-up {
    cursor: pointer;
    position: fixed;
    bottom: 4px;
    right: 5px;
    width: 40px;
    height: 40px;
    background-color: #252525;
    z-index: 1;
    transform: translate3d(0, 70px, 0);
    -webkit-transform: translate3d(0, 70px, 0);
    -moz-transform: translate3d(0, 70px, 0);
    -ms-transform: translate3d(0, 70px, 0);
    -o-transform: translate3d(0, 70px, 0);
    -webkit-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    -moz-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    -o-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    i {
        position: relative;
        color: #fff;
        font-size: 20px;
        display: block;
        text-align: center;
        width: 40px;
        top: 7px;
    }
    &:hover {
        color: #fff;
        background: #707070;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
}
.td-scroll-up-visible {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
}

.block-faq {
    .faq-item {
    margin-bottom: 15px;
    .faq-item-title {
        margin-bottom: 5px;
        line-height: 1.8;
        font-size: 14px;
        cursor: pointer;
        &:before {
            content: "";
            background: url(../images/hoidap_q.gif) no-repeat;
            width: 14px;
            height: 16px;
            display: inline-block;
            margin-right: 5px;
            vertical-align: sub;
        }
    }
    .faq-item-info {
        label {
            color: #ccc;
            font-size: 12px;
            margin-left: 5px;
            font-weight: normal;
            &:first-child {
                margin-left: 0;
            }
            i {
                color: #999;
                margin-right: 5px;
            }
        }
    }
    .faq-item-content {
        margin-left: 30px;
        background: #fbe4d2;
        padding: 5px 10px;
        margin-top: 10px;
        line-height: 1.8;
        font-size: 14px;
        &:before {
            content: "";
            background: url('../images/hoidap_a.gif') no-repeat;
            width: 14px;
            height: 16px;
            display: inline-block;
            margin-right: 5px;
            vertical-align: sub;
        }
    }
    }
}

.block-contact {
    .contact-map {
        margin-bottom: 2em;
        margin-top: 2em;
        object {
            width: 100%;
            height: 425px;
            border: 0;
        }
    }
    .contact-info {
        float: left;
        width: 40%;
        line-height: 1.6;
    }
    .contact-form {
        float: right;
        width: 57%;
        margin-left: 3%;
    }
    .contact-info {
        .title {
            font-weight: bold;
            color: #000;
            font-size: 16px;
            margin-bottom: 10px;
        }
        .sub {
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 10px;
        }
    }
}

.block-categories {
    .categories-head {
        margin-bottom: 10px;
        ul {
            display: flex;
            li {
                flex: auto;
                margin-right: 1%;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    padding: 10px 20px;
                    background: #ed6f32;
                    font-size: 15px;
                    text-transform: uppercase;
                    color: #fff;
                    font-weight: bold;
                    display: block;
                    text-align: center;
                    &:hover {
                        background: #D35400;
                    }
                }
            }
        }
    }
}

.block-sidebar {
    .block-title {
        margin-bottom: 0;
        padding: 8px 0 7px;
        font-size: 16px;
        font-weight: bold;
        line-height: 14px;
        color: #ed6f32;
        border-bottom: 1px solid #ccc;
        text-transform: uppercase;
        font-family: $font-opensans;
    }
    .block-content {
        margin-bottom: 20px;
        margin-top: 15px;
    }
    .block-advisory {
        .block-title {
            border-bottom: none;
            font-size: 22px;
        }
        .advisory-items {
            border: 1px solid #ed6f32;
            margin-top: 0px;
            background: rgba(255, 249, 207, 0.93);
            padding: 10px 30px;
            position: relative;
            font-family: Arial,serif;
            border-radius: 5px;
            font-style: italic;
            margin-bottom: 20px;
            p {
                font-size: 17px;
                font-weight: bold;
                a {
                    &:hover {
                        color: #E67E22;
                    }
                }
            }
            .phone {
                span {
                    &:first-child {
                        color: red;
                    }
                }
            }
            .mail {
                i {
                    font-size: 18px;
                    color: #ed6f32;
                }
                a {
                    font-weight: normal;
                }
            }
        }
        .block-form {
            .col {
                width: 100%;
                margin-right: 0;
                float: none;
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .block-news {
        .block-title {
            margin-bottom: 0;
            padding: 8px 0 7px;
            font-size: 16px;
            font-weight: bold;
            line-height: 14px;
            color: #ed6f32;
            border-bottom: 1px solid #ccc;
            text-transform: uppercase;
            font-family: $font-opensans;
        }
        .block-content {
            margin-top: 0;
        }
        .news-item {
            position: relative;
            padding: 10px 5px;
            border-top: 1px dotted #ddd;
            &:first-child {
                border: none;
            }
            a {
                color: #2581c4;
                font-weight: bold;
                display: block;
                margin-bottom: 5px;
                &:hover {
                    color: #ed6f32;
                }
            }
            .info {
                display: flex;
                align-items: flex-start;
                .name {
                    margin-right: 10px;
                }
                .price {
                    word-break: normal;
                    margin-left: auto;
                    font-weight: bold;
                    color: #b00;
                    flex: none;
                }
            }
        }
        .news-item-image {}
    }
    .block-whychoose {
        .block-content {
            margin: 0;
        }
        .whychoose-item {
            padding: 10px 5px 10px 21px;
            position: relative;
            display: block;
            &:before {
                content: "";
                background: url(../images/bullet_why.png) no-repeat;
                width: 15px;
                height: 14px;
                position: absolute;
                top: 10px;
                left: 0;
                overflow: hidden;
            }
        }
    }
}

.block-news {
    .block-title {
        border-bottom: 2px solid #e2dfdc;
        text-shadow: 1px 1px 1px #fff;
        line-height: 40px;
        color: #ed6f32;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }
}

.block-news {
    .news-left {
        float: left;
        width: 49%;
        margin-right: 1%;
    }
    .news-right {
        float: left;
        @include calc( width, '100% - 50%');
    }
    .news-item {
        margin-bottom: 10px;
        &:before, &:after {
            content: "";
            display: table;
        }
        &:after {
            clear: both;
        }
        .info {
            .title {
                margin-bottom: 5px;
                font-size: 15px;
                a {
                    font-weight: bold;
                    color: #236baa;
                    &:hover {
                        color: #E67E22;
                    }
                }
            }
            .extra {
                font-style: italic;
                margin-bottom: 3px;
            }
            .des {
                line-height: 1.6;
            }
        }
    }
    .news-small {
        .news-item {
            .image {
                float: left;
                width: 120px;
                height: 80px;
                margin-right: 5px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .info {
                float: left;
                @include calc( width, '100% - 125px');
                .title {
                    font-size: 14px;
                    a {
                        line-height: 1.3;
                    }
                }
            }
        }
    }
    .block-slide {
        .owl-carousel {
            .owl-nav {
                .owl-prev, .owl-next {
                    position: absolute;
                    top: 50%;
                    -webkit-transform: translate(0, -50%);
                    -ms-transform: translate(0, -50%);
                    transform: translate(0, -50%);
                    margin-top: -20px;
                    height: 43px;
                    width: 30px;
                    background: rgba(0, 0, 0, 0.6);
                    color: #FFF;
                }
                .owl-prev {
                    left: 0;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
                .owl-next {
                    right: 0;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }
            }
        }
        .item-slide {
            .image {
                width: 100%;
                height: 150px;
                display: block;
                margin-bottom: 3px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .title {
                a {
                    font-weight: bold;
                    font-size: 14px;
                    display: block;
                }
            }
        }
    }
}

.block-news2 {
    .news-item {
        .image {
            display: block;
            width: 100%;
            height: 220px;
            overflow: hidden;
            margin-bottom: 5px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.block-news2-col {
    .news2-item {
        width: 49%;
        margin-right: 1%;
        float: left;
        margin-bottom: 30px;
        .image {
            display: block;
            width: 100%;
            height: 220px;
            margin-bottom: 5px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .info {
            .title {
                margin-bottom: 5px;
                font-size: 1.17em;
                a {
                    font-weight: bold;
                    display: block;
                    color: #236baa;
                }
            }
            .extra {
                font-style: italic;
                margin-bottom: 3px;
            }
            .des {
                line-height: 1.6;
            }
        }
    }
}

.block-news-cat {
    .block-title {
        font-size: 23px;
        color: #ed6f32;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        border: none;
        margin-bottom: 10px;
    }
    .news-cat-item {
        float: left;
        padding: 10px 5px;
        border-bottom: 1px dashed #ccc;
        overflow: auto;
        .image {    
            float: left; 
            width: 230px;
            height: 130px;
            margin-right: 10px;
            box-shadow: 0 0px 6px rgba(0,0,0,0.5);
            img {
                width: 100%;
                height: 100%;
            }
        }
        .info {
            float: left;
            @include calc( width, '100% - 240px');
            .title {
                a {
                    font-weight: bold;
                    font-size: 15px;
                    color: #08c;
                    line-height: normal;
                    display: block;
                }
            }
            .date {
                font-size: 11px;
                padding: 0;
                margin: 3px 0;
                li {
                    display: inline-block;
                    margin-right: 15px;
                    color: #999;
                    font-size: 11px;
                }
            }
            .des {
                font-size: 1em;
                line-height: 1.5;
                color: #333;
            }
        }
    }
    .news-cat-item-first {
        .image {    
            width: 370px;
            height: 200px;
        }
        .info {
            @include calc( width, '100% - 380px');
            .title {
                a {
                    font-size: 17px;
                }
            }
        }
    }
}

.block-filter {
    text-align: right;
    background-color: #f1f2f1;
    padding: 8px 10px;
    display: flex;
    margin-bottom: 10px;
    .show-news {
        margin-left: auto;
        display: flex;
        align-items: center;
        span {
            flex: none;
            margin-right: 5px;
        }
        .form-control {
            background: #F8F8F8;
            border: 1px solid #CCC;
            padding: 5px;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            box-shadow: #fff 0 1px 1px, rgba(231,231,231,0.5) 0 0 2px 1px 
        }
    }
}

.block-pagination {
    display: flex;
    align-items: center;
    margin: 10px 0;
    .pagination {
        margin: 0;
        li {
            a {
                margin-right: 5px;
                color: #A3A3A3;
                border-radius: 0;
                font-size: 13px;
                padding: 4px 10px;
            }
        &.active {
            a {
                color: #269BC6;
                background-color: transparent;
                border-color: #269BC6;
            }
        }
        }
    }
    .results {
        margin-left: auto;
    }
}

.block-share, .block-boxban, .block-comment {
    margin: 10px 0;
}

.block-news-other {
    .block-title {
        border-bottom: 2px solid #e2dfdc;
        text-shadow: 1px 1px 1px #fff;
        color: #ed6f32;
        font-size: 18px;
        line-height: normal;
        font-weight: bold;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .news-other-item {
        margin-right: 1%;
        width: calc(98% / 3);
        float: left;
        margin-bottom: 10px;
        &:nth-child(3), &:nth-child(6) {
            margin-right: 0;
            // width: 32%;
        }
        .image {
            margin-bottom: 5px;
        }
        .title {
            font-weight: bold;
            color: #055699;
            display: block;
            font-size: 14px;
        }
    }
}

.block-car-rental {
    .car-rental-content-item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        margin: 0 0 10px;
        background: #FFF;
        border: 1px solid #eee;
        border-bottom: 1px #cdcdcd solid;
        position: relative;
        -webkit-transition: all 0.45s ease;
        -o-transition: all 0.45s ease;
        -ms-transition: all 0.45s ease;
        transition: all 0.45s ease;
        &-info {
            width: 82%;
            margin-right: 1%;
            border-right: 1px solid #EEE;
        }
        &-cont {
            width: calc(100% - 83%);
            text-align: center;
        }
        .image {
            float: left;
            margin-right: 10px;
            position: relative;
            z-index: 10;
            overflow: hidden;
            width: 170px;
            height: 140px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .des {
            float: left;
            width: calc(100% - 180px);
            .title {
                margin-bottom: 8px;
                a {
                    color: #0099d5;
                    font-weight: bold;
                    font-size: 14px;
                    display: block;
                    line-height: 1.6;
                }
            }
            .des-ct {
                p {
                    display: inline-block;
                    vertical-align: top;
                    width: 49%;
                    line-height: 21px;
                    font-weight: bold;
                    font-size: 13px;
                    span {
                        font-weight: normal;
                        margin-left: 3px;
                    }
                }
            }
        }
        .type {
            font-size: 12px;
            font-weight: normal;
            color: #0085C4;
            font-style: italic;
            text-align: center;
        }
        .price {
            height: 24px;
            label {
                color: #b00;
                font-size: 18px;
                font-weight: bold;
            }
        }
        .cart {
            a {
                display: inline-block;
                padding: 0 10px;
                line-height: 25px;
                text-shadow: 0 1px 1px rgba(0,0,0,.3);
                background: #ed6f32;
                color: #FFF;
                white-space: nowrap;
            }
        }
        &:hover {
            border: 1px solid #E67E22;
            -webkit-transition: all 0.45s ease;
            -o-transition: all 0.45s ease;
            -ms-transition: all 0.45s ease;
            transition: all 0.45s ease;
            .cart {
                a {
                    background: #FF651A;
                }
            }
        }
    }
}