@font-face {
	font-family: 'Tahoma';
	src: url('fonts/Tahoma/Tahoma.eot');
	src: local('☺'), url('fonts/Tahoma/Tahoma.woff') format('woff'), url('fonts/Tahoma/Tahoma.ttf') format('ttf'), url('fonts/Tahoma/Tahoma.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
// Open Sans
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=vietnamese');